# Ignorar cache y compilados
__pycache__/
*.pyc

# Ignorar directorio estatico
srumban/static/

# Documentacion generada
srumban/docs/build/

# Configuracion sensible
srumban/srumban/settings/secret_config.py

# Ignorar backups de editores
*~
/#*/#

# Ignorar base de datos (desarrollo)
*.sqlite3
