# Ignorar cache y compilados
__pycache__/
*.pyc

# Ignorar directorio estatico
scrunban/statics/

# Documentacion generada
scrunban/docs/build/

# Configuracion sensible
scrunban/scrunban/settings/secret_config.py

# Ignorar backups de editores
*~
/#*/#

# Ignorar base de datos (desarrollo)
*.sqlite3
*/staticfiles/*
