<!DOCTYPE html>
<html>
<body>
    <h1>Crear proyecto</h1>
    <form action="/adm/proyecto/nuevo" method="post">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Submit" />
    </form>
    <h3>ScrumMasterList</h3>
    {% for user in userList %}
        <a id='addScrumMaster{{ forloop.counter }}' href='#'> {{ user.nombre }} </a><br>
        <script>
            document.getElementById('addScrumMaster{{ forloop.counter }}').addEventListener('click', function(){
                document.getElementById("id_scrumMaster").value = "{{ user.nombre }}"
            });
        </script>
    {% endfor %}
    <h3>ProductOwnerList</h3>
    {% for user in userList %}
        <a id='addProductOwner{{ forloop.counter }}' href='#'> {{ user.nombre }} </a><br>
        <script>
            document.getElementById('addProductOwner{{ forloop.counter }}').addEventListener('click', function(){
                document.getElementById("id_productOwner").value = "{{ user.nombre }}"
            });
        </script>
    {% endfor %}
</body>
</html>