<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <!--<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">-->
    <script src="{% static 'js/test.js' %}"></script>
</head>
<body>
    <input type="text" id="textbox1"/>
    <input type="button" id="button1"/>
    <a id="link1" href="#">linksito</a>
    <script>
        document.getElementById("button1").addEventListener('click', function () {
            var text = document.getElementById('textbox1');
            text.value = "TEXTO2";
            console.log("Boton1");
            console.log(text.text);
        });

        document.getElementById("link1").addEventListener('click', function(){
            var text = document.getElementById('textbox1');
            text.value = "TEXTO1";
            console.log("link");
        });
    </script>
</body>
</html>