{% extends "base" %}

{% block "include" %}{% endblock %}

{% block "title" %} {{ block.super }} | Administracion {% endblock %}

{% block "top_menu" %}


		<li><a href="{% url URL_NAMES.ADM_USER_LIST %}">Administracion</a></li>

	<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.first_name }} {{ user.last_name }} <span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li><a href="#">Mi Perfil</a></li>
		<li role="separator" class="divider"></li>
		<li><a href="{% url DEAUTH_NAME %}">Salir</a></li>
	</ul>

{% endblock %}

{% block "left_menu_title" %} Administracion {% endblock %}

{% block "left_menu_options" %}
	<li class="active"><a href="{% url URL_NAMES.ADM_PROJECT_CREATE %}">Nuevo Proyecto</a></li>
	<li><a href="{% url URL_NAMES.ADM_PROJECT_DELETE %}">Eliminar Proyecto</a></li>
    <li><a href="{% url URL_NAMES.ADM_USER_LIST %}">Usuarios</a></li>
{% endblock %}

{% block "working_path" %}
	<li></li>
	<li>Administracion</li>
	<li class="active">Nuevo Proyecto</li>
{% endblock %}

{% block "content" %}

	<div class="panel panel-default">

		<div class="panel-body">
<p>{{ form.fieldname.errors.as_text }}</p>
			<h1>Crear proyecto</h1>
        <form action="#" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                <label for='{{ form.name}}'>Nombre del proyecto:</label>
                {{ form.name }}
                {{ form.name.errors }}
            </div>
            <div class="fieldWrapper">
                <label for='{{ form.date_start }}'>Fecha de inicio:</label>
                {{ form.date_start }}
                Formato: AAAA-MM-DD
                {{ form.date_start.errors }}
            </div>
            <div class="fieldWrapper">
                <label for='{{ form.date_end }}'>Fecha de finalizacion:</label>
                {{ form.date_end }}
                Formato: AAAA-MM-DD
                {{ form.date_end.errors }}
            </div>
            <div class="fieldWrapper">
                <label for='{{ form.scrum_master }}'>Scrum Master:</label>
                {{ form.scrum_master }}
                <button type="button" data-toggle="modal" data-target=".scrumMaster-popup">Click para elegir un Usuario</button>
                {{ form.scrum_master.errors }}
            </div>
            <div class="fieldWrapper">
                <label for='{{ form.product_owner }}'>Product Owner:</label>
                {{ form.product_owner }}
                <button type="button" data-toggle="modal" data-target=".productOwner-popup">Click para elegir un Usuario</button>
                {{ form.product_owner.errors }}
            </div>

            <input type="submit" value="Crear" />
        </form>


        <!-- popup box modal starts here -->
        <div class="modal fade scrumMaster-popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">
                            Seleccione el Scrum Master
                        </h3>
                    </div>
                    <div class="modal-body">
                        {% if not user_list %}
                            No existe ningun usuario.
                        {% endif %}
                        {% for user in user_list %}
                            <a data-dismiss="modal" id='addScrumMaster{{ forloop.counter }}' href='#'> {{ user.get_username }} </a><br>
                            <script>
                                document.getElementById('addScrumMaster{{ forloop.counter }}').addEventListener('click', function(){
                                    document.getElementById("id_scrum_master").value = "{{ user.get_username }}"
                                });
                            </script>
                        {% endfor %}
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal-->
        <!-- popup box modal ends -->

        <!-- popup box modal starts here -->
        <div class="modal fade productOwner-popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">
                            Seleccione el Product Owner
                        </h3>
                    </div>
                    <div class="modal-body">
                        {% if not user_list %}
                            No existe ningun usuario.
                        {% endif %}
                        {% for user in user_list %}
                            <a data-dismiss="modal" id='addProductOwner{{ forloop.counter }}' href='#'> {{ user.get_username }} </a><br>
                            <script>
                                document.getElementById('addProductOwner{{ forloop.counter }}').addEventListener('click', function(){
                                    document.getElementById("id_product_owner").value = "{{ user.get_username }}"
                                });
                            </script>
                        {% endfor %}
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal-->
        <!-- popup box modal ends -->
		</div>
	</div>




{% endblock %}




