{% extends "base" %}

{% block "include" %}{% endblock %}

{% block "title" %} {{ block.super }} | Perfil {% endblock %}

{% block "top_menu" %}

	{% if user.is_staff %}
		<li><a href="#">Administracion</a></li>
	{% endif %}

	<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.first_name }} {{ user.last_name }} <span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li><a href="#">Mi Perfil</a></li>
		<li role="separator" class="divider"></li>
		<li><a href="{% url DEAUTH_NAME %}">Salir</a></li>
	</ul>

{% endblock %}

{% block "left_menu_title" %} Proyecto {% endblock %}

{% block "left_menu_options" %}
	<li class="active"><a href="{% url 'adm:proyecto_nuevo' %}">Nuevo Proyecto</a></li>
	<li class="active"><a href="{% url 'adm:proyecto_eliminar' %}">Eliminar Proyecto</a></li>
{% endblock %}

{% block "working_path" %}
	<li></li>
	<li>Proyecto</li>
	<li class="active">Nuevo Proyecto</li>
	<li class="active">Exitoso</li>
{% endblock %}

{% block "content" %}

	<div class="panel panel-default">
		<div class="panel-body">
            <h2>El proyecto se ha creado exitosamente.</h2>
		</div>
	</div>




{% endblock %}




