{% extends "administracion/admin_base" %}

{% block "working_path" %}
	{{ block.super }}
	<li><a href="{% url URL_NAMES.ADM_PROJECT_LIST %}">Proyectos</a></li>
	<li class="active">{{ section_title }}</li>
{% endblock %}

{% block "content" %}

<script>
    window.onload = function() {
        {% for user in user_list %}
            if("{{ form.scrum_master.value }}" == "{{ user.id }}"){
                document.getElementById("{{ form.scrum_master.auto_id }}-friendly").value = "{{ user.get_username }} - {{ user.get_first_name }} {{ user.get_last_name }}"
            }
            if("{{ form.product_owner.value }}" == "{{ user.id }}"){
                document.getElementById("{{ form.product_owner.auto_id }}-friendly").value = "{{ user.get_username }} - {{ user.get_first_name }} {{ user.get_last_name }}"
            }
        {% endfor %}
    };
</script>


	<div class="panel panel-default">

		<div class="panel-body">

            <div class="row">
                <div class="col-md-12">
                    <h3>{{ section_title }}</h3>
                    <hr />
                    <div class="alert alert-danger" role="alert" id="errors">
                        <p class="warning"> Estas seguro de que quieres borrar?</p>
                    </div>
                    <form id="form" class="form-horizontal" action="#" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="row_{{ form.name.auto_id }}" class="col-sm-2 control-label">Nombre:</label>
                            <div class="row" id="row_{{ form.name.auto_id }}">
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="{{ form.name.auto_id }}" placeholder="Nombre" aria-describedby="helpBlock-{{ form.name.auto_id }}" name="{{ form.name.name }}" value="{% if form.name.value %}{{ form.name.value }}{% endif %}" readonly>
                                    <span id="helpBlock-{{ form.name.auto_id }}" class="help-block">{{form.name.errors}}</span>
                                </div>
                            </div>
                        </div>

                        <input type="text" hidden="True" id="{{ form.scrum_master.auto_id }}" name="{{ form.scrum_master.name }}" value="{% if form.scrum_master.value %}{{ form.scrum_master.value }}{% endif %}">
                        <div class="form-group">
                            <label for="row_{{ form.scrum_master.auto_id }}-friendly" class="col-sm-2 control-label">Scrum Master:</label>
                            <div class="row" id="row_{{ form.scrum_master.auto_id }}-friendly">
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="{{ form.scrum_master.auto_id }}-friendly" placeholder="Scrum Master" aria-describedby="helpBlock-{{ form.scrum_master.auto_id }}" name="{{ form.scrum_master.name }}-friendly" readonly>
                                    <span id="helpBlock-{{ form.scrum_master.auto_id }}" class="help-block">{{form.scrum_master.errors}}</span>
                                </div>
                            </div>
                        </div>

                        <input type="text" hidden="True" id="{{ form.product_owner.auto_id }}" name="{{ form.product_owner.name }}"  value="{% if form.product_owner.value %}{{ form.product_owner.value }}{% endif %}">
                        <div class="form-group">
                            <label for="row_{{ form.product_owner.auto_id }}-friendly" class="col-sm-2 control-label">Product Owner:</label>
                            <div class="row" id="row_{{ form.product_owner.auto_id }}-friendly">
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="{{ form.product_owner.auto_id }}-friendly" placeholder="Product Owner" aria-describedby="helpBlock-{{ form.product_owner.auto_id }}" name="{{ form.product_owner.name }}-friendly" readonly>
                                    <span id="helpBlock-{{ form.product_owner.auto_id }}" class="help-block">{{form.product_owner.errors}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="row_state" class="col-sm-2 control-label">Estado:</label>
                            <div class="row" id="row_state">
                                <div class="col-md-9">
                                    <p style="padding-top: 7px;margin-bottom: 0;">{{ project_state }}</p><br>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-offset-2 col-sm-10">
                            <a href="{% url URL_NAMES.ADM_PROJECT_LIST %}"><button type="button" class="btn btn-default"> Cancelar </button></a>
                            <input type="submit" class="btn btn-danger" value="Eliminar"/>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
