{% extends "administracion/admin_base" %}

{% block "working_path" %}
    {{ block.super }}
	<li class="active">Eliminar Proyecto</li>
{% endblock %}

{% block "content" %}
    <script>
        function updatePopup() {
            document.getElementById("popup1_span1").innerHTML = projectToDelete;
            document.getElementById("popup1_yes").value = projectToDelete;
            return false;
        }
    </script>
	<div class="panel panel-default">
		<div class="panel-body">
            <h1>EliminarProyecto</h1>
            {% if not project_list %}
                No existe ningun proyecto.
            {% endif %}
            {% for project in project_list %}
                <script> function setName{{ project.name }}(){ projectToDelete = "{{ project.name }}"; } </script>
                {{ project.name }} | <a onclick="setName{{ project.name }}(); updatePopup();" href="#" data-toggle="modal" data-target=".popup1">Eliminar</a> <br>
            {% endfor %}
        </div>
	</div>

    <!-- popup box modal starts here -->
    <div class="modal fade popup1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">
                        Desea realmente eliminar el proyecto "<span id="popup1_span1"></span>"?
                    </h3>
                </div>
                <div class="modal-body">

                    <form action="/adm/proyecto/eliminar" method="post">
                        {% csrf_token %}
                        <input id="popup1_yes" name="project" type="hidden" value="">
                        <button type="button" data-dismiss="modal" data-target=".scrumMaster-popup">Cancelar</button>
                        <input type="submit" value="Eliminar" />
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal-->
    <!-- popup box modal ends -->


{% endblock %}




