{% extends "base" %}

{% block "include" %}
{% endblock %}

{% block "title" %} {{ block.super }} | Administracion {% endblock %}

{% block "top_menu" %}

		<li><a href="{% url URL_NAMES.ADM_USER_LIST %}">Administracion</a></li>

	<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.first_name }} {{ user.last_name }} <span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li><a href="#">Mi Perfil</a></li>
		<li role="separator" class="divider"></li>
		<li><a href="{% url URL_NAMES.DEAUTH_NAME %}">Salir</a></li>
	</ul>

{% endblock %}

{% block "left_menu_title" %} Administracion {% endblock %}

{% block "left_menu_options" %}
	<li><a href="{% url URL_NAMES.ADM_PROJECT_CREATE %}">Nuevo Proyecto</a></li>
	<li><a href="{% url URL_NAMES.ADM_PROJECT_DELETE %}">Eliminar Proyecto</a></li>
	<li class="active"><a href="{% url URL_NAMES.ADM_USER_LIST %}">Usuarios</a></li>
{% endblock %}

{% block "working_path" %}
	<li></li>
	<li><a href="#">Administracion</a></li>
	<li class="active">{{ section_title }}</li>
{% endblock %}

{% block "content" %}

	<div class="panel panel-default">

		<div class="panel-body">

		<div class="row">
		                <div class="col-md-12">
		                    <h3>{{section_title}}</h3>
				    <hr />

			<table class="table table-striped">
				<thead>
					<tr>  <th>Username</th> <th>Nombre</th>
						<th class="text-right">
							<a href="{% url URL_NAMES.ADM_USER_CREATE %}">
							<button type="button" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
							</button></a>
						</th>
					</tr>
				</thead>
				{% if user_list|length == 0 %}
				<tbody>
					<tr class="danger">  <td colspan="3">Actualmente no hay usuarios</td> </tr>
				</tbody>
				{% else %}
				<tbody>
					{% for us in user_list %}
					<tr>
						<td>{{us.user.username}}</td>
						<td>{{us.user.first_name}} {{us.user.last_name}}</td>
						<td class="text-right">

							{% if user.id != us.user.id %}
							<a href="{% url URL_NAMES.ADM_USER_DELETE us.id %}">
							<button type="button" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button></a>
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			{% endif %}
			</table>

			<span class="step-links">
				{% if page_obj.has_previous %}
					<a href="?page={{ page_obj.previous_page_number }}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
				{% endif %}

				<span class="current">
					Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
				</span>

				{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
				{% endif %}
			</span>

		</div>

		</div>

		</div>
	</div>




{% endblock %}
