{% extends "administracion/admin_base" %}

{% block "include" %}
<script>
    $(document).ready(function(){


        cargar_datos();
        check_create();

        if ($("#errors").children().length > 0)
        {
            $("#errors").show();
        }
        else
        {
            $("#errors").hide();
        }


        $("#username").keyup(function () {
           check_create();
        });


        $("#password").keyup(function () {
           check_create();
        });

        function cargar_datos()
        {


            fields = [ 'username', 'email', 'direccion', 'telefono', 'first_name', 'last_name' ];
            elementos = [];

            for (var i in fields) {
                elementos[i] = $("#id_" + fields[i]).val();

                if (elementos[i] != undefined) {
                    $("#" + fields[i]).val(elementos[i]);
                }
            }


        }

        function check_create()
        {


            if ($("#username").val() != '' && $("#password").val() != '')

            {
                $("#create").prop("disabled", false);
            }
            else
            {
                $("#create").prop("disabled", true);
            }

        }

        $("#form").submit(function(event){

            fields = [ 'username', 'password', 'email', 'direccion', 'telefono', 'first_name', 'last_name' ];
            elementos = [];

            for (var i in fields) {
                elementos[i] = $("#" + fields[i]).val();
                if (elementos[i] != undefined) {
                    $("#id_" + fields[i]).val(elementos[i]);
                }
            }


        });


    });
</script>

{% endblock %}


{% block "working_path" %}
	{{ block.super }}
	<li><a href="{% url URL_NAMES.ADM_USER_LIST %}">Usuarios</a></li>
	<li class="active">{{ section_title }}</li>
{% endblock %}

{% block "content" %}

	<div class="panel panel-default">

		<div class="panel-body">

            <div class="row">
                <div class="col-md-12">
                    <h3>{{ section_title }}</h3>
                    <hr />

                    <div class="alert alert-danger" role="alert" id="errors">
                        {% if delete_form %}
                        <p class="warning"> Estas seguro de que quieres borrar?</p>
                        {% endif %}

                    </div>
                    <form class="form-horizontal" method="post" action="#" id="form">
                        {% csrf_token %}


                        {{ form.id }}
                        {{ form.username }}
                        {% if delete_form %}
                        {% else %}
                        {{ form.password }}
                        {% endif %}
                        {{ form.email }}
                        {{ form.direccion }}
                        {{ form.telefono }}
                        {{ form.first_name }}
                        {{ form.last_name }}

                      <div class="form-group {% if form.username.errors|length > 0 %} has-error {% endif %}">
                        <label for="rowUsername" class="col-sm-2 control-label">CI:</label>

                            <div class="row" id="rowUsername">
                                <div {% if no_editable %} class="col-md-4" {% else %} class="col-md-9" {% endif %}>
                                    <input type="text" class="form-control" id="username" placeholder="Numero de cedula" aria-describedby="helpBlock1" {% if no_editable %} readonly {% endif %}>
                                     <span id="helpBlock1" class="help-block">{{form.username.errors}}</span>
                                </div>

                            </div>

                      </div>


                        <div class="form-group {% if form.first_name.errors|length > 0 %} has-error {% endif %}">
                        <label for="rowFirst_name" class="col-sm-2 control-label">Nombres:</label>

                            <div class="row" id="rowFirst_name">
                                <div {% if no_editable %} class="col-md-4" {% else %} class="col-md-9" {% endif %}>
                                    <input type="text" class="form-control" id="first_name" placeholder="Nombres" aria-describedby="helpBlock2" {% if no_editable %} readonly {% endif %}>
                                    <span id="helpBlock2" class="help-block">{{form.first_name.errors}}</span>
                                </div>
                            </div>

                      </div>



                        <div class="form-group {% if form.last_name.errors|length > 0 %} has-error {% endif %}">
                        <label for="rowLast_name" class="col-sm-2 control-label">Apellidos:</label>


                            <div class="row" id="rowLast_name">
                                <div {% if no_editable %} class="col-md-4" {% else %} class="col-md-9" {% endif %}>
                                    <input type="text" class="form-control" id="last_name" placeholder="Apellidos" aria-describedby="helpBlock3" {% if no_editable %} readonly {% endif %}>
                                    <span id="helpBlock3" class="help-block">{{form.last_name.errors}}</span>
                                </div>
                            </div>

                      </div>


                        {% if delete_form %}
                        {% else %}
                        <div class="form-group {% if form.password.errors|length > 0 %} has-error {% endif %}">
                        <label for="rowPassword" class="col-sm-2 control-label">Password:</label>

                            <div class="row" id="rowPassword">
                                <div {% if no_editable %} class="col-md-4" {% else %} class="col-md-9" {% endif %}>
                                    <input type="password" class="form-control" id="password" placeholder="Password" aria-describedby="helpBlock4" {% if no_editable %} readonly {% endif %}>
                                    <span id="helpBlock4" class="help-block">{{form.password.errors}}</span>
                                </div>
                            </div>

                      </div>

                        {% endif %}


                        <div class="form-group {% if form.email.errors|length > 0 %} has-error {% endif %}">
                        <label for="rowEmail" class="col-sm-2 control-label">Email:</label>

                            <div class="row" id="rowEmail">
                                <div {% if no_editable %} class="col-md-4" {% else %} class="col-md-9" {% endif %}>
                                    <input type="email" class="form-control" id="email" placeholder="Direccion de email" aria-describedby="helpBlock5" {% if no_editable %} readonly {% endif %}>
                                    <span id="helpBlock5" class="help-block">{{form.email.errors}}</span>
                                </div>
                            </div>

                      </div>



                        <div class="form-group {% if form.direccion.errors|length > 0 %} has-error {% endif %}">
                        <label for="rowDireccion" class="col-sm-2 control-label">Direccion:</label>

                            <div class="row" id="rowDireccion">
                                <div {% if no_editable %} class="col-md-4" {% else %} class="col-md-9" {% endif %}>
                                    <input type="text" class="form-control" id="direccion" placeholder="Direccion" aria-describedby="helpBlock6" {% if no_editable %} readonly {% endif %}>
                                    <span id="helpBlock6" class="help-block">{{form.direccion.errors}}</span>
                                </div>
                            </div>

                      </div>


                          <div class="form-group {% if form.telefono.errors|length > 0 %} has-error {% endif %}">
                        <label for="rowTelefono" class="col-sm-2 control-label">Telefono:</label>

                            <div class="row" id="rowTelefono">
                                <div {% if no_editable %} class="col-md-4" {% else %} class="col-md-9" {% endif %}>
                                    <input type="text" class="form-control" id="telefono" placeholder="Telefono" aria-describedby="helpBlock7" {% if no_editable %} readonly {% endif %}>
                                    <span id="helpBlock7" class="help-block">{{form.telefono.errors}}</span>
                                </div>
                            </div>

                      </div>

                        {% if delete_form %}
                        <div class="form-group">
                            <label for="tableProjects" class="col-sm-2 control-label">Proyectos:</label>
                        <div class="row" id="rowProjects">
                            <div class="col-md-4">
                            <table class="table table-striped" id="tableProjects">
                                <thead>
                                <tr> <th>Proyecto</th><th>Estado</th></th> <th>Rol</th></tr>
                                </thead>
                            {% if user_projects|length == 0 %}
                                <tbody>
                                    <tr class="success">  <td colspan="3">Este usuario no esta relacionado con ningun proyecto</td> </tr>
                                </tbody>
                            {% else %}
                                <tbody>
                                    {% for row in user_projects %}
                                    <tr>
                                    <td><a href="{% url URL_NAMES.PROJECT_INDEX row.0.id %}">{{row.0.name}}</a></td>
                                    <td>-</td>
                                    <td>{{row.1}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            {% endif %}
                            </table>
                            </div>
                        </div>
                        </div>
                        {% endif %}


                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            {% if delete_form %}
                            <button type="submit" class="btn btn-default" id="delete">Borrar</button>
                            {% else %}
                            <button type="submit" class="btn btn-default" id="create">Crear</button>
                            {% endif %}
                        </div>
                      </div>
                    </form>


                </div>
            </div>

		</div>
	</div>

{% endblock %}
